<body>
    
   
    <form [formGroup]="updateRdvForm" (ngSubmit)="onSubmit()" class="dateForm">
         <div class="form-group">
           <mat-form-field appearance="fill">
             <mat-label>Description</mat-label>
             <input matInput id="description" formControlName="description" placeholder="Description" />
           </mat-form-field>
         </div>
       
         <div class="form-group">
             <mat-form-field appearance="fill">
               <mat-label>Date</mat-label>
               <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" formControlName="date">
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker [dateClass]="dateClass"></mat-datepicker>
             </mat-form-field>
           </div>
         <div class="form-group">
           <mat-form-field appearance="fill">
             <mat-label>Time</mat-label>
             <input matInput id="time" type="time" formControlName="time">
           </mat-form-field>
         </div>
       
         <div *ngIf="isDateNonDispo(updateRdvForm.value.date)" class="alert alert-danger">
           This date and time is not available. Please choose another.
         </div>
       
         <button mat-raised-button color="primary" type="submit" [disabled]="isDateNonDispo(updateRdvForm.value.date)" class="submitButton">
           Add Rendezvous
         </button>
       </form>
     </body>