<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark" *ngIf="!isUserRole()">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="show-all-properties" routerLinkActive="active" class="nav-link">Property List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-properties" routerLinkActive="active" class="nav-link">Add Property</a>
        </li>
        <li class="nav-item">
            <a routerLink="show-all-contrats" routerLinkActive="active" class="nav-link">Contrat List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-contrat" routerLinkActive="active" class="nav-link">Add Contrat</a>
        </li>
        <li class="nav-item">
            <a routerLink="Host-RDVs" routerLinkActive="active" class="nav-link">List RDV</a>
        </li>
    </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" style="height: 13px; padding-top: 0.5rem;">
                <button   mat-icon-button [matBadge]="rdvCount" matBadgeColor="accent" [matMenuTriggerFor]="rdvMenu">
                  <mat-icon>favorite</mat-icon>
                </button>
                <mat-menu #rdvMenu="matMenu">
                  <ng-container *ngFor="let rdv of RDVS">
                    <button mat-menu-item>
                      <div (click)="goToAllRdv()">
                        <strong>{{ rdv.userClient.firstName }}</strong>
                        <p>Property: {{ rdv.property.type }}</p>
                        <p>Date: {{ rdv.dateHeure | date: 'short' }}</p>
                      </div>
                    </button>
                  </ng-container>
                </mat-menu>
              </li>
            <li class="nav-item" style="margin-right: 4rem;">
                <a routerLink="login" routerLinkActive="active" class="nav-link" (click)="onLogout()"> LogOut
                </a>
                
            </li>
        </ul>
    


</nav>

<!-- nav userClient -->
<nav class="navbar navbar-expand-sm border-bottom border-body" data-bs-theme="dark" *ngIf="isUserRole()">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="user-client" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="user-client/AllProperty" routerLinkActive="active" class="nav-link">List of Property </a>
        </li>
        <li class="nav-item">
            <a routerLink="user-client/AllRDV" routerLinkActive="active" class="nav-link">List of RDV </a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item" style="margin-right: 4rem;">
            <a routerLink="login" routerLinkActive="active" class="nav-link" (click)="onLogout()"> LogOut

            </a>
        </li>
    </ul>

</nav>



    <!-- <div class="container"> -->

    <router-outlet></router-outlet>
    <!-- </div> -->


    <footer class="footer">
        <div class="container">
            <span>Property Management System</span>
        </div>
    </footer>