<br>

<div class="container">

  <br>
  <div class="box">
    <div >
      <table  class=" table table-striped  border-dark  ">
        <thead class=" table-dark">
        <tr>
          <th  >Attribute</th>
          <th  >Value</th>
        </tr>

        </thead>

        <tbody>
        <!--tr>
          <td><b>IdContrat</b></td>
          <td>{{contrat.idContrat}}</td>
        </tr--><tr>

          <td><b>IdAgent</b></td>
          <td>{{contrat.createdBy}}</td>
        </tr><tr>
          <td><b>dateFin</b></td>
          <td>{{contrat.dateFin}}</td>
        </tr><tr>
          <td><b>dateDebut</b></td>
          <td>{{contrat.dateDebut}}</td>
        </tr><tr>
          <td><b>montant</b></td>
          <td>{{contrat.montant}}</td>
        </tr>
        <tr>
          <td><b>typeContrat</b></td>
          <td>{{contrat.typeContrat}}</td>
        </tr>

        </tbody>
      </table>

      <a routerLink="/updating-contrat-by-id/{{contrat.id}}" id="btn1"class="btn btn-secondary">Update Details</a>

      <a routerLink="/updating-contrat-by-id/{{contrat.id}}" id="btn3"class="btn btn-secondary">Download</a>

      <a routerLink="/show-all-contrats" id="btn2" class="btn btn-danger">Back</a >
    </div>

  </div>

</div>
